[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	email = {{ .email | quote }}
	name = Marcel Schramm
[core]
	autocrlf = input
	eol = lf
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[diff]
	colorMoved = zebra

