[user]
	email = {{ .email | quote }}
	name = Marcel Schramm
[core]
	autocrlf = input
	eol = lf
{{ if eq .chezmoi.os "windows" }}	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe -F {{ .chezmoi.homeDir }}/.ssh/config{{ end}}
[pull]
	rebase = true
[rebase]
	autostash = true
[merge]
	autostash = true
[push]
	autoSetupRemote = true
[diff]
	colorMoved = zebra
[alias]
	a = add
	c = commit
	ca = commit --amend
