local wezterm = require 'wezterm'
local config = {
    {{ if eq .chezmoi.os "windows" }}
    default_prog = { 'pwsh.exe' },
    {{ end }}

    font_rules = {
        {
            intensity = 'Normal',
            italic = false,
            font = wezterm.font_with_fallback {
                {
                    family = 'IntoneMono Nerd Font Mono',
                    weight = 'Regular',
                },
            },
        },
        {
            intensity = 'Normal',
            italic = true,
            font = wezterm.font_with_fallback {
                {
                    family = 'IntoneMono Nerd Font Mono',
                    weight = 'Regular',
                    italic = true,
                },
            },
        },
        {
            intensity = 'Half',
            italic = false,
            font = wezterm.font_with_fallback {
                {
                    family = 'IntoneMono Nerd Font Mono',
                    weight = 'Medium',
                },
            },
        },
        {
            intensity = 'Half',
            italic = true,
            font = wezterm.font_with_fallback {
                {
                    family = 'IntoneMono Nerd Font Mono',
                    weight = 'Medium',
                    italic = true,
                },
            },
        },
        {
            intensity = 'Bold',
            italic = false,
            font = wezterm.font_with_fallback {
                {
                    family = 'IntoneMono Nerd Font Mono',
                    weight = 'Bold',
                },
            },
        },
        {
            intensity = 'Bold',
            italic = true,
            font = wezterm.font_with_fallback {
                {
                    family = 'IntoneMono Nerd Font Mono',
                    weight = 'Bold',
                    italic = true,
                },
            },
        },
    },
    font_size = 14.0,

    tab_bar_at_bottom = true,
    use_fancy_tab_bar = false,
    tab_max_width = 32,

    color_scheme = "Catppuccin Macchiato",

    mouse_bindings = {
        -- While wezterm can open links via letclick by default, I am used to
        -- ctrl+leftclick, so we allow both.
        {
            event = { Up = { streak = 1, button = 'Left' } },
            mods = 'CTRL',
            action = wezterm.action.OpenLinkAtMouseCursor,
        },
    },
}

return config

