local wezterm = require 'wezterm'
local dark_theme = "Catppuccin Macchiato";
local light_theme = "Catppuccin Latte";
local config = {
    {{ if eq .chezmoi.os "windows" }}
    default_prog = { 'pwsh.exe' },
    {{ end }}

    font_rules = {
        {
            intensity = 'Normal',
            italic = false,
            font = wezterm.font_with_fallback {
                {
                    family = '{{ .font_mono }}',
                    weight = 'Regular',
                },
            },
        },
        {
            intensity = 'Normal',
            italic = true,
            font = wezterm.font_with_fallback {
                {
                    family = '{{ .font_mono }}',
                    weight = 'Regular',
                    italic = true,
                },
            },
        },
        {
            intensity = 'Half',
            italic = false,
            font = wezterm.font_with_fallback {
                {
                    family = '{{ .font_mono }}',
                    weight = 'Medium',
                },
            },
        },
        {
            intensity = 'Half',
            italic = true,
            font = wezterm.font_with_fallback {
                {
                    family = '{{ .font_mono }}',
                    weight = 'Medium',
                    italic = true,
                },
            },
        },
        {
            intensity = 'Bold',
            italic = false,
            font = wezterm.font_with_fallback {
                {
                    family = '{{ .font_mono }}',
                    weight = 'Bold',
                },
            },
        },
        {
            intensity = 'Bold',
            italic = true,
            font = wezterm.font_with_fallback {
                {
                    family = '{{ .font_mono }}',
                    weight = 'Bold',
                    italic = true,
                },
            },
        },
    },
    font_size = {{ .font_size }}.0,

    tab_bar_at_bottom = true,
    use_fancy_tab_bar = false,
    tab_max_width = 32,
    window_padding = {
        left = 4,
        right = 4,
        top = 3,
        bottom = 0,
    },

    color_scheme = dark_theme,

    keys = {
        -- Switch Theme on Ctrl+Alt+Shift+T between dark and light.
        -- This action is not persistent though. We always start with dark.
        {
            key = 't',
            mods = 'CTRL|ALT|SHIFT',
            action = wezterm.action_callback(
                function(win, pane)
                    local overrides = win:get_config_overrides()
                    if not overrides or overrides.color_scheme == dark_theme
                    then
                        win:set_config_overrides { color_scheme = light_theme }
                    else
                        win:set_config_overrides { color_scheme = dark_theme }
                    end
                end
            ),
        },
    },
    mouse_bindings = {
        -- While wezterm can open links via letclick by default, I am used to
        -- ctrl+leftclick, so we allow both.
        {
            event = { Up = { streak = 1, button = 'Left' } },
            mods = 'CTRL',
            action = wezterm.action.OpenLinkAtMouseCursor,
        },
    },
}

return config

