[powerprofile]
command=powerprofilesctl get && while read button; do echo "$(~/.local/bin/cycleprofile.sh)"; done
interval=persist

[brightness]
command=echo "💡$(brightnessctl list | rg '\d+%' --only-matching)"
interval=5

[battery]
{{ if not (contains "thinkpad" .chezmoi.hostname) }}
command=echo "🔋$(cat /sys/class/power_supply/BAT1/capacity)%"
{{ else }}
command=echo "🔋$(cat /sys/class/power_supply/BAT0/capacity)%"
{{ end }}
interval=60

[time]
instance=de
TZ=Europe/Berlin
command=date +"%d-%m-%y %T"
interval=5
